<header class="site-header">

  <!--<div class="wrapper clearfix">-->
    <!--<div class="site-title">-->
      <!--<a href="/">{{ site.title }}</a>-->
    <!--</div>-->
    <!--<div class="site-menu">-->
      <!--<ul>-->
      <!--{% for page in site.pages %}-->
        <!--{% if page.title %}-->
          <!--<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>-->
        <!--{% endif %}-->
      <!--{% endfor %}-->
        <!--<li>-->
          <!--<button class="c-hamburger c-hamburger&#45;&#45;htx">-->
            <!--<span>toggle menu</span>-->
          <!--</button>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="site-cate">-->
      <!--<ul>-->
        <!--{% for category in site.categories %}-->
        <!--<li><a href="/categories/{{ category | first }}/">{{ category | first }}</a></li>-->
        <!--{% endfor %}-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->


  <div class="ui small menu">
    <a href="/" class="active item">
      {{ site.title }}
    </a>
    {% for page in site.pages %}
    {% if page.title %}
    <a href="{{ page.url | prepend: site.baseurl }}" class="item">{{ page.title }}</a>
    {% endif %}
    {% endfor %}

    <div class="right menu">
      <div class="ui dropdown item">
        Category <i class="dropdown icon"></i>
        <div class="menu">
          {% for category in site.categories %}
          <a href="/categories/{{ category | first }}/" class="item">{{ category | first }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


</header>
