---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
        {{ content }}
    </div>

    <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
        &nbsp;&nbsp;
        <div class="fb-like" data-href="https://parksanghun.github.io{{ page.url }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>

    <div class="clearfix"></div>

    <ul class="pager">
        {% if page.previous %}
        <li class="previous"><a href="{{ site.baseurl }}{{ page.previous.url }}"
                                title="{{ page.previous.title }}">&larr; Previous</a></li>
        {% else %}
        <li class="previous disabled"><a>&larr; Previous</a></li>
        {% endif %}
        {% if page.next %}
        <li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
        </li>
        {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
            {% endif %}
    </ul>

    <div class="col-sm-2 sidebar-2"></div>

    <div id="facebook-comment">
        {% include facebook.html %}
    </div>
    {% include disqus.html %}

</article>
